#message {
	width: 100%;
	resize: none;
}
.row {
	margin: 20px auto;
}
.portfolio-foto img{
	width: 300px;
	height: auto;
}

.my-photo {
	width: 300px;
	height: auto;
}

.portfolio-page .row {
	border-bottom: 2px solid rgba(50, 50, 200, 0.7);
	padding-bottom: 30px;
}

.portfolio-page .row:first-child,
.portfolio-page .row:last-child {
	border-bottom:none;
	padding: 0;
}

.row:first-child {
	margin: 10px 0 0;
}

.portfolio-page .row .text h2 {
	color: #333;
}
/*
.nav {
	float: right;
}*/